<svg id="huskyMascot" class="husky" viewBox="0 0 240 220" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
  <ellipse class="husky-shadow" cx="120" cy="205" rx="60" ry="8"/>

  <g class="wave-paw">
    <ellipse cx="0" cy="0" rx="15" ry="19"/>
    <ellipse class="toe" cx="-7" cy="-15" rx="5" ry="6"/>
    <ellipse class="toe" cx="0" cy="-18" rx="5" ry="6"/>
    <ellipse class="toe" cx="7" cy="-15" rx="5" ry="6"/>
  </g>

  <g class="head-group">
    <path class="ear ear-left" d="M52,68 L18,8 L88,52 Z"/>
    <path class="ear-inner" d="M54,60 L38,26 L74,50 Z"/>
    <path class="ear ear-right" d="M188,68 L222,8 L152,52 Z"/>
    <path class="ear-inner" d="M186,60 L202,26 L166,50 Z"/>

    <ellipse class="head" cx="120" cy="128" rx="86" ry="76"/>
    <path class="blaze" d="M120,78 q17,42 0,96 q-17,-54 0,-96 Z"/>
    <ellipse class="cheek" cx="66" cy="148" rx="11" ry="6"/>
    <ellipse class="cheek" cx="174" cy="148" rx="11" ry="6"/>

    <ellipse class="patch patch-left" cx="86" cy="112" rx="33" ry="29"/>
    <ellipse class="patch patch-right" cx="154" cy="112" rx="33" ry="29"/>

    <g class="eyes-open">
      <circle class="eye-white" cx="86" cy="116" r="12"/>
      <circle class="iris" cx="88" cy="118" r="7.5"/>
      <circle class="pupil" cx="88" cy="118" r="3.5"/>
      <circle class="glint" cx="85" cy="114" r="1.8"/>
      <circle class="eye-white" cx="154" cy="116" r="12"/>
      <circle class="iris" cx="156" cy="118" r="7.5"/>
      <circle class="pupil" cx="156" cy="118" r="3.5"/>
      <circle class="glint" cx="153" cy="114" r="1.8"/>
    </g>

    <g class="eyes-happy">
      <path d="M74,118 q12,-15 24,0"/>
      <path d="M142,118 q12,-15 24,0"/>
    </g>

    <path class="nose" d="M111,148 q9,-7 18,0 q-3,11 -9,11 q-6,0 -9,-11 Z"/>

    <path class="mouth mouth-neutral" d="M106,166 q14,11 28,0"/>
    <g class="mouth-happy">
      <path d="M98,163 q22,20 44,0"/>
      <path class="tongue" d="M110,170 q10,16 20,0 q-10,7 -20,0 Z"/>
    </g>

    <g class="paws-cover">
      <g class="paw paw-left">
        <ellipse cx="0" cy="0" rx="24" ry="27"/>
        <ellipse class="toe" cx="-11" cy="-21" rx="6.5" ry="7.5"/>
        <ellipse class="toe" cx="0" cy="-25" rx="6.5" ry="7.5"/>
        <ellipse class="toe" cx="11" cy="-21" rx="6.5" ry="7.5"/>
      </g>
      <g class="paw paw-right">
        <ellipse cx="0" cy="0" rx="24" ry="27"/>
        <ellipse class="toe" cx="-11" cy="-21" rx="6.5" ry="7.5"/>
        <ellipse class="toe" cx="0" cy="-25" rx="6.5" ry="7.5"/>
        <ellipse class="toe" cx="11" cy="-21" rx="6.5" ry="7.5"/>
      </g>
    </g>
  </g>
</svg>
